/* src/styles/Dashboard.css */
.dashboard {
    background-color: #fff;
    width: 65vw;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 0 0 12px 12px;
  }
  
  .dashboard h2 {
    margin-top: 0;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }

  input{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    
    border: 1px solid #DDDDDD;
  }
  
  
   
  input:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(247, 86, 124, 1);
    
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(247, 86, 124, 1); /* Hex #51CBEE*/
  }



/* CSS */
.button {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #e11d48, #f72f5b 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button:active,
.button:focus {
  outline: none;
}

.button:hover {
  background-position: -20px -20px;
}

.button:focus:not(:active) {
  box-shadow: rgb(254, 154, 178) 0 0 0 .125em;
}